
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            
                                        </div>
                                     </li>
                                    
                                   <li class="d-none d-lg-block"> <a href="/users/login" class="btn header-btn">Login</a></li>
                                   <li class="d-none d-lg-block"> <a href="/users/register" class="btn header-btn">Register</a></li>

                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/about_hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->
    
    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
             <div class="col-lg-3"><img src="/img/hero/images.jpeg" width="250" height="200"></div>
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h3>Chairman's Note</h3>
                        <h6>It's with an immense pleasure that I welcome you to the Online Home of Heaven Jewellery Pvt Ltd.

I am delighted to present our new website showcasing our spectacular Jewellery Collection, and more information about Heaven jewellery.

From our Inception in 1999, to Our position as one of the largest jewellery manufacturing Company Today,We have always prided ourself on our ability to offer our customers superior high quality products that give value for money.

We have always been outstanding in satisfying our customers by providing excellent customer service since day one,hence we consider it as our prime duty.

Our Website will keep you updated on the latest from us. You can browse through our fascinating Jewellery Collection and the first to know our exciting designs and offers.

We thank you for your interest in Heaven Jewellery and hope you have a thoroughly fulfilling online Experience with us.

As a Heaven Jewellery customer,I welcome all your feedbacks and suggestions to help us serve you better.
</h6><br><br>
<h6>Regards</h6>
<h6>(Name)</h6>
<h6>Chairman</h6>
<h6>Heaven jewellery</h6>                </div>
                </div>

            </div>
        </div>
    </section>
    <!-- product list part end-->

    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
          <div class="row justify-content-between">
                <div class="col-lg-3">
                   
                </div>
            
                <div class="col-lg-8">
                    
                        <h5>OUR ACHIEVEMENTS AND AWARDS</h5></div>
                </div><br><br>
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>The Heavens Group has rapidly expanded its foothold all over the Globe since its inception in 1999. The Group has grown tremendously , with over 10 Million Customers, employing a highly committed  team of over 8,000 Employees across 12 Countries. </p>
                    </div>
                </div>
            
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>The first jewellery retailer to be awarded both the prestigious ISO 9001:2010 and 14001:2006 certifications.Conferred with the honour of the Retailer of the Year (2007) in the Middle East.</p>
                    </div>
                </div></div>
                 <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>Awarded the Dubai Quality Awards Certification by H. H. Sheikh Mohammed Bin Rashid Al Maktoum, Vice President and Prime Minister of the UAE and Ruler of Dubai.</p>
                    </div>
                </div>
            
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>The only jewellery to have been awarded the Superbrand status in the UAE for Eight consecutive years, from 2012.</p>
                    </div>
                </div></div>
                 <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>The Heavens Group operations include Jewellery, Money Exchange, Fashion & Silks & Malls.</p>
                    </div>
                </div>
            
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>Heavens India Pvt.Ltd. has always believed that the people and the community within which it operates are the cornerstones for its success and as such is actively involved in charity (Corporate Social Responsibility) activities aimed at social welfare.</p>
                    </div>
                </div></div>
                 <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>From building homes to helping flood victims, blood donation drives and helping expats with financial assistance to return home, the Group has always believed in being there for the less privileged.
</p>
                    </div>
                </div>
            
                <div class="col-lg-6">
                    <div class="feature_part_content">
                        <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness.</p>
                    </div>
                </div></div>
            </div>
             <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
             <div class="col-lg-3"><img src="/img/hero/dir.jpeg" width="250" height="200"></div>
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <h3>Director's Note</h3>
                        <h6>Athul Kaushik joined the group,post his graduation. To understand the business from the grassroots, he joined as a trainee. Over the years, his astute understanding of the business has seen him become a formidable force in managing the group's International Operations.

He has a keen interest in retail, branding and marketing and has launched many initiatives, which has helped the brand retain its Super Brand status for 8 years in a row. He believes in 'consumer is the king' and building relationships with customers is the best way to make 'Heavens' their favourite Jewellery destination.

Athul has the keen business sense of his visionary father, Ramakrishnan , and hopes to carry on his grand legacy and retain the brands position of being the 'World's Favourite Jeweller'.
</h6>
               </div>
                </div>
                 </div>
        </div>
    </section>
     <section class="about_us padding_top section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="/img/icon/feature_icon_1.svg" alt="#">
                        <h4>Credit Card Support</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="/img/icon/feature_icon_2.svg" alt="#">
                        <h4>Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="/img/icon/feature_icon_3.svg" alt="#">
                        <h4>Free Delivery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="/img/icon/feature_icon_4.svg" alt="#">
                        <h4>Product with Gift</h4>
                    </div>
                </div>
          
        </div>
    </section>
    <!-- feature part end -->
    
    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="/img/hero/client1.jpg" alt="#">
                            </div>
                            <p>"I love jewellery – rings, earrings, bracelets, necklaces and everything.And Heaven Jewels have the best collection."</p>
                            <h5>- Nikhila Vimal</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="/img/hero/client2.jpg" alt="#">
                            </div>
                            <p>"The shop is managed by professionals having wide experience and knowledge about jewellery. "</p>
                            <h5>- Surya</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="/img/hero/client3.jpg" alt="#">
                            </div>
                            <p>"There is a wide assortment of bangles, necklaces, earrings, finger rings, pendants and nosepins to choose from under its roof, all available at competitive prices."</p>
                            <h5>- Dulqar Salman</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Get access to our new stocks</h2>
                        <p>Seemlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->

     