
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                              <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                  <li class="d-none d-xl-block">
                                      <div class="form-box f-right ">
                                         
                                      </div>
                                   </li>
                                  
                                    
                                     <li class="d-none d-lg-block"><a href="/users/logout" class="btn header-btn">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/store/Ruby/Ruby gold bangles/IMG-20200522-WA0481.jpg" alt="" />
                    </div>
                    <div class="media-body">
                      <p>Ruby Bangles for Women</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>8,000 Rs</h5>
                </td>
                <td>
                  <div class="product_count">
                    <!--<input type="text" value="1" min="0" max="10" title="Quantity:"
                      class="input-text qty input-number" />
                    <button
                      class="increase input-number-increment items-count" type="button">
                      <i class="ti-angle-up"></i>
                    </button>
                    <button
                      class="reduced input-number-decrement items-count" type="button">
                      <i class="ti-angle-down"></i>
                    </button> -->
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="100">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>8,000 Rs</h5>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/store/pendant/pen1.jpg" alt="" />
                    </div>
                    <div class="media-body">
                      <p>Pendant for women</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>25,000Rs</h5>
                </td>
                <td>
                  <div class="product_count">
                      <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                      <input class="input-number" type="text" value="2" min="0" max="10">
                      <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>
                <td>
                  <h5>50,000 Rs</h5>
                </td>
              </tr>
              
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Total</h5>
                </td>

                <td>
                  <h5>58,000 Rs</h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Tax</h5>
                </td>

                <td>
                  <h5>200 RS</h5>
                </td>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Shipping</h5>
                  </td>
  
                  <td>
                    <h5>200 Rs</h5>
                  </td>
                </tr>
              
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>

                <td>
                  <h5>58,400 Rs</h5>
                </td>
              </tr>
              
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/users/afterlogin">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="/users/checkout">Proceed to checkout</a>
          </div>
        </div>
      </div>
  </section>
  

    </main>
   