
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                           
                                        </div>
                                     </li>
                                    
                                    
                                     <li class="d-none d-lg-block"><a href="/users/login" class="btn header-btn">Login</a></li>
                                     <li class="d-none d-lg-block"><a href="/users/register" class="btn header-btn">Register</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
        
        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/gift2.jpg">             <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <br><br><br><br><h2>Gift Coupons</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                           
                        </div>
                    </div>
                </div>
           
       <div class="shop-method-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            
                           <img src="/img/hero/g1.jpg" width="400" height="300">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            
                            <img src="/img/hero/g2.jpg" width="400" height="300">
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                           
                             <img src="/img/hero/g3.jpg" width="400" height="300">
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <br><br><br><br><br><br><br><br> <h2>FAQ</h2>
                        </div>
                    </div>
                </div>
</div>
</section>
<div class="shop-method-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            
                            <h6>How can I gift a Physical Gift Card or Voucher to a person?</h6>
                            <p>Our Gift Cards or Vouchers can be purchased online and it will be delivered to the given address in the next 2 - 3 working days.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                     
                            <h6>How can I gift to a person who is residing outside India?</h6>
                            <p>You can gift internationally by visiting www.heavengift.com.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                          
                            <h6>Where can I redeem the Gift Card/Physical Vouchers/Digital vouchers?</h6>
                            <p>The Gift Card/Gift Vouchers/Digital Vouchers can be redeemed at any offline store in India. Additionally, Gift Card can be redeemed online from www.heavens.in website. Please write to care@heven.com for more queries.</p>               </div>
                    </div>
                </div>
               
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            
                            <h6>When can I start purchasing the Digital Vouchers online?</h6>
                            <p>This process is under development and we will be adding this facility soon.
</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                     
                            <h6>Is the Gift Card reusable?</h6>
                            <p>Yes. The Gift Card can be used as long as there is balance remaining.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                          
                            <h6>How long is the Gift Card valid for?</h6>
                            <p>The Gift Card is valid for 1 year
.</p>
                        </div>
                    </div>
                </div>
              
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            
                            <h6>I want to purchase Gift Card/Gift Vouchers/Digital Vouchers for my corporate use. Do you have any special package for it?</h6>
                            <p>Our Gift Cards or Vouchers can be purchased online and it will be delivered to the given address in the next 2 - 3 working days.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                     
                            <h6>How can I gift to a person who is residing outside India?</h6>
                            <p>Absolutely! Please write to us at b2bindia@heven.com. We will fix you the best deal.
</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                          
                            <h6>How can I check my balance on the Gift Card?</h6>
                            <p>Balance can be checked by login to http://www.heavengifts.in or by visiting any of the nearest Joyalukkas outlet.</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h6>For more queries write to us at care@heavens.com or dial 080567895</h>
                        </div><br><br><br><br>
                    </div>
                </div>
</div>

  </main>
   