
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                           
                                        </div>
                                     </li>
                                    
                                     <li class="d-none d-lg-block"><a href="/users/logout" class="btn header-btn">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/gemm.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
       
        <!-- Category Area Start-->
       
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <br><br><br> <h2>Gem Anklets</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Featured</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Offer</a>
                                </div>
                            </nav>
                            End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/Ruby/Ruby gold anklet/IMG-20200522-WA0468.jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Ruby Gold Anklet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>19990</li>
                                                
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/Ruby/Ruby gold anklet/IMG-20200522-WA0469.jpg" alt="" width="300" height="240">
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Ruby Gold Anklet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>18600</li>
                                                <!--<li class="discount">$60.00</li>-->
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/blue/gold anklets/71ewfWXoT3L._SL1500_.jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Blue Gold Anklet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/blue/gold anklets/images.jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Blue Gold Anklet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/coral/anklets/gold/3-ak216-galz4ever-original-imaffffqr5tbvdgs.jpeg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Coral Gold Anklet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>19990</li>
                                                        
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/coral/anklets/gold/il_570xN.1555106568_tnza.jpg" alt="" width="300" height="240">
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Coral Gold Anklet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>18600</li>
                                                        <!--<li class="discount">$60.00</li>-->
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/Emerald/Emerald gold anklet/61yt1M+-N6L._UL1500_ (1).jpg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Emerald Gold Anklet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/Emerald/Emerald gold anklet/images (2).jpeg" alt="" width="300" height="240">
                                                
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Emerald Gold Anklet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/Emerald/Emerald gold anklet/images (5).jpeg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Emerald Gold Anklet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>19990</li>
                                                                
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/Emerald/Emerald gold anklet/P2157V92-0-700x850 (1).jpg" alt="" width="300" height="240">
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Emerald Gold Anklet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>18600</li>
                                                                <!--<li class="discount">$60.00</li>-->
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/cat's eye/anklets/gold/55b2e17c9939e9ee59cd690a922a5ac9.jpg" alt="" width="300" height="240">
                                                       
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Cat's eye Gold Anklet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/cat's eye/anklets/gold/5ed1ed66136d122a6a259fda1d2eb7eb.jpg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Cat's eye Gold Anklet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/coral/anklets/gold/d565dd0877f25d4996d33d2f2a64fca3.jpg" alt="" width="300" height="240">
                                                               
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Coral Gold Anklet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>19990</li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/coral/anklets/gold/a58d0ce8aea94454dbbbf8afaf9840e6.jpg" alt="" width="300" height="240">
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Coral Gold Anklet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>18600</li>
                                                                        <!--<li class="discount">$60.00</li>-->
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/Emerald/Emerald silver anklet/61mp5CCZcxL._UL1500_.jpg" alt="" width="300" height="240">
                                                                
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Emerald Silver Anklet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/Emerald/Emerald silver anklet/images (7).jpeg" alt="" width="300" height="240">
                                                              
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Emerald Silver Anklet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/coral/anklets/silver/c844382aed895d4cd47b0b48119b3784.jpg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Coral Silver Anklet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>19990</li>
                                                                                
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/coral/anklets/silver/red-coral-stone-bracelet-250x250.jpg" alt="" width="300" height="240">
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Coral Silver Anklet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>18600</li>
                                                                                <!--<li class="discount">$60.00</li>-->
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Ruby/Ruby silver anklet/IMG-20200522-WA0472.jpg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Ruby Silver Anklet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Ruby/Ruby silver anklet/IMG-20200522-WA0473.jpg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Ruby Silver Anklet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                             

                                                       
                                              </div>
                                                        </div>
                                                    </div></section>
           
        <!-- Latest Products End -->
        <!-- Best Product Start -->
       
        <!-- Best Product End-->
        <!-- Best Collection Start -->
        
        <!-- Best Collection End -->
        <!-- Latest Offers Start -->
       
    </main>
   