
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            
                                        </div>
                                     </li>
                                    
                                     <li class="d-none d-lg-block"><a href="/users/logout" class="btn header-btn">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/gemnecklace.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
       
        <!-- Category Area Start-->
       
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                          <br><br><br>  <h2>Gem Necklace</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Featured</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Offer</a>
                                </div>
                            </nav>
                            End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/Ruby/Ruby gold necklace/IMG-20200522-WA0445.jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Ruby Gold Necklace</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>19990</li>
                                                
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/Ruby/Ruby gold necklace/IMG-20200522-WA0446.jpg" alt="" width="300" height="240">
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Ruby Gold Necklace</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>18600</li>
                                                <!--<li class="discount">$60.00</li>-->
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/blue/gold necklace/images.jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Blue Gold Necklace</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/blue/gold necklace/download (2).jpg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Blue Gold Necklace</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/coral/necklaces/gold/e66cce3353bc5d4caca652006af43a9f.jpg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Coral Gold Necklace</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>19990</li>
                                                        
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/coral/necklaces/gold/e560ac6575a109497ef750d983307062.jpg" alt="" width="300" height="240">
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Coral Gold Necklace</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>18600</li>
                                                        <!--<li class="discount">$60.00</li>-->
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/Emerald/Emerald necklace gold/images (1).jpeg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Emerald Gold Necklace</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/Emerald/Emerald necklace gold/images (3).jpeg" alt="" width="300" height="240">
                                                
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Emerald Gold Necklace</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/Hassonite garnet/Gold necklace/images.jpeg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Hassonite Gold Necklace</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>19990</li>
                                                                
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/Hassonite garnet/Gold necklace/images (4).jpeg" alt="" width="300" height="240">
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Hassonite Gold Necklace</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>18600</li>
                                                                <!--<li class="discount">$60.00</li>-->
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/cat's eye/necklace/gold/47392d31f08379ec9827154056dd619b.jpg" alt="" width="300" height="240">
                                                       
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Cat's eye Gold Necklace</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/cat's eye/necklace/gold/717b02c0cbfcb816e2625a5ba6644647.jpg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Cat's eye Gold Necklace</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/coral/necklaces/silver/873052ef414ac562399ed7615bde987c.jpg" alt="" width="300" height="240">
                                                               
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Coral Silver Necklace</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>19990</li>
                                                                        
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/coral/necklaces/silver/d90b97bde4865bfdcebd47a96368f1b5.jpg" alt="" width="300" height="240">
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Coral Silver Necklace</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>18600</li>
                                                                        <!--<li class="discount">$60.00</li>-->
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/yellow sapphire/Y Gold necklace/images (13).jpeg" alt="" width="300" height="240">
                                                                
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Yellow Gold Necklace</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/yellow sapphire/Y Gold necklace/images (11).jpeg" alt="" width="300" height="240">
                                                              
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Yellow Gold Necklace</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Hassonite garnet/Silver necklace/51EPQwCEswL._UL1000_.jpg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Hassonite Silver Necklace</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>19990</li>
                                                                                
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Hassonite garnet/Silver necklace/Hessonite-Gomed-Silver-Plated-Pendant-SDL153724902-1-27000.jpg" alt="" width="300" height="240">
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Hassonite Silver Necklace</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>18600</li>
                                                                                <!--<li class="discount">$60.00</li>-->
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Ruby/Ruby silver necklace/IMG-20200522-WA0428.jpg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Ruby Silver Earring</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/Ruby/Ruby silver necklace/IMG-20200522-WA0424.jpg" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Ruby Silver Earring</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                             

                                                       
                                              </div>
                                                        </div>
                                                    </div></section>
           
        <!-- Latest Products End -->
        <!-- Best Product Start -->
       
        <!-- Best Product End-->
        <!-- Best Collection Start -->
        
        <!-- Best Collection End -->
        <!-- Latest Offers Start -->
       
    </main>
    