<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Heaven Jewellers</title>
    <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/img/load.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/css/flaticon.css">
            <link rel="stylesheet" href="/css/slicknav.css">
            <link rel="stylesheet" href="/css/animate.min.css">
            <link rel="stylesheet" href="/css/magnific-popup.css">
            <link rel="stylesheet" href="/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/css/themify-icons.css">
            <link rel="stylesheet" href="/css/slick.css">
            <link rel="stylesheet" href="/css/nice-select.css">
            <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
     <!-- Preloader Start -->
     <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="/img/logo/load.jpeg" alt="" width="50" height="50">
              </div>
          </div>
      </div>
  </div>
  <!-- Preloader Start -->

  <header>
      <!-- Header Start -->
     <div class="header-area">
          <div class="main-header ">
              <div class="header-top top-bg d-none d-lg-block">
                 <div class="container-fluid">
                     <div class="col-xl-12">
                          <div class="row d-flex justify-content-between align-items-center">
                              <div class="header-info-left d-flex">
                                
                              </div>
                              <div class="header-info-right">
                                 <ul>                                          
                                     <li><a href="/users/profile">My Account </a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/users/cart"><i class="fas fa-shopping-cart" style="font-size: 1.5em;"></i></a></li>
                                    
                                   
                                 </ul>

                            
                              </div>
                          </div>
                     </div>
                 </div>
              </div>
             <div class="header-bottom  header-sticky">
                  <div class="container-fluid">
                      <div class="row align-items-center">
                          <!-- Logo -->
                          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                              <div class="logo">
                                <img src="/img/logo/load.jpeg" alt="" width="80" height="80"></a>
                              </div>
                          </div>
                          <div class="col-xl-8 col-lg-7 col-md-9 col-sm-5">
                              <!-- Main-menu -->
                              <div class="main-menu f-right d-none d-lg-block">
                                  <nav>                                                
                                      <ul id="navigation">                                                                                                                                     
                                          <li><a href="/">Home</a></li>
                                          <li><a href="/users/about">About us</a></li>
                                          <li><a href="#">Gold</a>
                                              
                                              <ul class="submenu">
                                                  
                                                 <div class="row justify-content-between">
                                                  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                                                     
                                                         
                                                      <h4>Women</h4>
                                                       <ul>
                                                                  <li><a href="/gold/gwnecklace">Necklaces</a></li>
                                                                  <li><a href="/gold/gwring">Rings</a></li>
                                                                  <li><a href="/gold/gwbangle">Bangles</a></li>
                                                                  <li><a href="/gold/gwbracelet">Bracelets</a></li>
                                                                  <li><a href="/gold/gwpendant">Pendants</a></li>
                                                                  <li><a href="/gold/gwpendantset">Pendant sets</a></li>
                                                                  <li><a href="/gold/gwchain">Chains</a></li>
                                                                  
                                                                  <li><a href="/gold/gwnosepin">Nosepins</a></li>
                                                              </ul>
                                                         
                                                  </div>
                                                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                                                      <div class="single-footer-caption mb-50">
                                                        
                                                              <h4>Men</h4>
                                                              <ul>
                                                                  <li><a href="/gold/gmring">Rings</a></li>
                                                                  <li><a href="/gold/gmpendant">Pendants</a></li>
                                                                  <li><a href="/gold/gmbracelet">Bracelets</a></li>
                                                                 
                                                              </ul>
                                                          </div>
                                                      
                                                  </div>
                                                  
                                       
                                              </div>
                                              </ul></li>
                                          
                                          
                                              <li><a href="#">Diamond</a>
                                              
                                                  <ul class="submenu">
                                                      
                                                     <div class="row justify-content-between">
                                                      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                                                         
                                                             
                                                          <h4>Women</h4>
                                                           <ul>
                                                                      <li><a href="/diamond/dwnecklace">Necklaces</a></li>
                                                                      <li><a href="/diamond/dwring">Rings</a></li>
                                                                      <li><a href="/diamond/dwbangle">Bangles</a></li>
                                                                      <li><a href="/diamond/dwbracelet">Bracelets</a></li>
                                                                     
                                                                     
                                                                      <li><a href="/diamond/dwearring">Earrings</a></li>
                                                                      <li><a href="/diamond/dwnosepin">Nosepins</a></li>
                                                                      
                                                                  </ul>
                                                             
                                                      </div>
                                                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                                                          <div class="single-footer-caption mb-50">
                                                            
                                                                  <h4>Men</h4>
                                                                  <ul>
                                                                      <li><a href="/diamond/dmring">Rings</a></li>
                                                                      <li><a href="/diamond/dmbracelet">Bracelets</a></li>
                                                                      
                                                                  </ul>
                                                              </div>
                                                          
                                                      </div>
                                                     
                                           
                                                  </div>
                                                  </ul></li>
                                          
                                                 
                                          
                                                      <li><a href="#">Silver
                                                      </a>
                                              
                                                          <ul class="submenu">
                                                              
                                                             <div class="row justify-content-between">
                                                              <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                                                                 
                                                                     
                                                                  <h4>Women</h4>
                                                                  <ul>
                                                                    <li><a href="/silver/swnecklace">Necklace</a></li>
                                                                    <li><a href="/silver/swring">Ring</a></li>
                                                                    <li><a href="/silver/swbangle">Bangle</a></li>
                                                                    <li><a href="/silver/swbracelet">Bracelets</a></li>
                                                                    <li><a href="/silver/swanklet">Anklet</a></li>  
                                                                    <li><a href="/silver/swearring">Earring</a></li>
                                                                    <li><a href="/silver/swminchi">Minchi</a></li>
                                                                </ul>
                                                              </div>
                                                              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                                                                  <div class="single-footer-caption mb-50">
                                                                    
                                                                          <h4>Men</h4>
                                                                          <ul>
                                                                            <li><a href="/silver/smring">Ring</a></li>
                                                                           
                                                                            <li><a href="/silver/smbracelet">Bracelet</a></li>
                                                                           
                                                                        </ul>
                                                                      </div>
                                                                  
                                                              </div>
                                                              
                                                   
                                                          </div>
                                                          </ul></li>
                                                          <li><a href="#">Platinum</a>
                                              
                                                              <ul class="submenu">
                                                                  
                                                                 <div class="row justify-content-between">
                                                                  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                                                                     
                                                                         
                                                                      <h4>Women</h4>
                                                                       <ul>
                                                                        <li><a href="/platinum/pwnecklace">Necklace</a></li>
                                                                        <li><a href="/platinum/pwring">Ring</a></li>
                                                                        <li><a href="/platinum/pwbangle">Bangle</a></li>
                                                                        <li><a href="/platinum/pwbracelet">Bracelets</a></li>
                                                                        <li><a href="/platinum/pwpendant">Pendant</a></li>
                                                                                  
                                                                              </ul>
                                                                         
                                                                  </div>
                                                                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                                                                      <div class="single-footer-caption mb-50">
                                                                        
                                                                              <h4>Men</h4>
                                                                              <ul>
                                                                                <li><a href="/platinum/pmring">Ring</a></li>
                                                                                  
                                                                                <li><a href="/platinum/pmbracelet">Bracelet</a></li>
                                                                                 
                                                                              </ul>
                                                                          </div>
                                                                      
                                                                  </div>
                                                                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                                                                      <div class="single-footer-caption mb-50">
                                                                          <div class="footer-tittle">
                                                                            
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                       
                                                              </div>
                                                              </ul></li>
                                              <li><a href="#">Gem Stone</a>
                                              
                                                  <ul class="submenu">
                                                      
                                                     <div class="row justify-content-between">
                                                      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                                                          <h4>Gem stone</h4>
                                                             
                                                                
                                                           <ul><li><a href="/gems/rubby">Ruby</a></li>
                                                            <li><a href="/gems/blue">Blue Saphire</a></li>
                                                            <li><a href="/gems/hasso">Hassonite Garmet</a></li>
                                                            <li><a href="/gems/yellow">yellow saphire</a></li>
                                                           
                                                            <li><a href="/gems/emerald">Emerald</a></li>
                                                           
                                                                    
                                                                  </ul>
                                                             
                                                      </div>
                                                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                                                          <div class="single-footer-caption mb-50">
                                                            
                                                                  <h4>Special Collections</h4>
                                                                  <ul>
                                                                    <li><a href="/gems/gemearring">Earring</a></li>
                                                                    <li><a href="/gems/gemnecklace">Necklace</a></li>
                                                                    <li><a href="/gems/gemnosepin">Nosepin</a></li>
                                                                    <li><a href="/gems/gembangle">Bangle</a></li>
                                                                    <li><a href="/gems/gembracelet">Bracelet</a></li>
                                                                    <li><a href="/gems/gemminchi">Minchi</a></li>
                                                                    <li><a href="/gems/gemanklet">Anklet</a></li>
                                                                  </ul>
                                                              </div>
                                                          
                                                      </div>
                                                      <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                                                          <div class="single-footer-caption mb-50">
                                                              <div class="footer-tittle">
                                                                  
                                                          </div>
                                                      </div>
                                                     
                                           
                                                  </div>
                                                  </ul></li>
                                                  
                                                      <li><a href="/users/cpn">Gift Coupon</a></li>
                                              
                                      </ul>
                                  </nav>
                              </div>
                          </div> 
                          


    
        <%- body %>
   
    <footer>

      <!-- Footer Start-->
      <div class="footer-area footer-padding">
          <div class="container">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                     <div class="single-footer-caption mb-50">
                       <div class="single-footer-caption mb-30">
                            <!-- logo -->
                           <div class="footer-logo">
                               <img src="/img/logo/load.jpeg" alt="" width="200" height="200"></a>
                           </div>
                           <div class="footer-tittle">
                               <div class="footer-pera">
                                   <p>Leave a little sparkle wherever you go</p>
                              </div>
                           </div>
                       </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Quick Links</h4>
                              <ul>
                                  <li><a href="/users/about">About</a></li>
                                  <li><a href="/"> Offers & Discounts</a></li>
                                  <li><a href="/users/cpn"> Get Coupons</a></li>
                                  <li><a href="/">  Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>New Products</h4>
                              <ul>
                                  <li><a href="/">Gold</a></li>
                                  <li><a href="/">Diamond</a></li>
                                  <li><a href="/">Silver</a></li>
                                  <li><a href="/">Platinum</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Contact Us</h4>
                              <ul>
                               <li>Heaven Jewels</li>
                               <li><i class="fas fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;0987654321</li>
                               <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;heaven@jewels.com</li>
                               
                               <li><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;&nbsp;&nbsp;0123456789</li>
                           </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer bottom -->
              <div class="row">
               <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="col-xl-5 col-lg-5 col-md-5">
                </div>
                   <div class="footer-copy-right f-right">
                       <!-- social -->
                       <div class="footer-social">
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-facebook-f"></i></a>
                           <a href="#"><i class="fab fa-behance"></i></a>
                           <a href="#"><i class="fas fa-globe"></i></a>
                       </div>
                   </div>
               </div>
           </div>
          </div>
      </div>
      <!-- Footer End-->

  </footer>

<!-- JS here -->

  <!-- All JS Custom Plugins Link Here here -->
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  
  <!-- Jquery, Popper, Bootstrap -->
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- Jquery Mobile Menu -->
  <script src="/js/jquery.slicknav.min.js"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/slick.min.js"></script>

  <!-- One Page, Animated-HeadLin -->
  <script src="/js/wow.min.js"></script>
  <script src="/js/animated.headline.js"></script>
  
  <!-- Scrollup, nice-select, sticky -->
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/jquery.magnific-popup.js"></script>

  <!-- contact js -->
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  
  <!-- Jquery Plugins, main Jquery -->	
  <script src="/js/plugins.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>