
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            
                                        </div>
                                     </li>
                                    
                                     <li class="d-none d-lg-block"><a href="/users/logout" class="btn header-btn">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->Latest ProductsLatest ProductsLatest Products
    </header>

    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/menringplatinum.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
       
        <!-- Category Area Start-->
       
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                           <br><br><br> <h2>Platinum Bracelet for Men</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Featured</a>
                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Offer</a>
                                </div>
                            </nav>
                            End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/platinum bracelet men/pbm1.jpeg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>19990</li>
                                                
                                            </ul>
                                        </div>                                                                        
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/platinum bracelet men/pbm2.jpeg" alt="" width="300" height="240">
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>18600</li>
                                                <!--<li class="discount">$60.00</li>-->
                                            </ul>
                                        </div>                                                                        
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/platinum bracelet men/pbm3.jpeg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>                                                                        
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <img src="/img/store/platinum bracelet men/pbm4.jpeg" alt="" width="300" height="240">
                                        
                                    </div>
                                    <div class="product-caption">
                                        <div class="product-ratting">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star low-star"></i>
                                            <i class="far fa-star low-star"></i>
                                        </div>
                                        <h4><a href="#"></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>60000</li>
                                    
                                            </ul>
                                        </div>                                                                        
                                        <ul>
                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/platinum bracelet men/pbm5.jpeg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>19990</li>
                                                        
                                                    </ul>
                                                </div>                                                                        
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/platinum bracelet men/pbm6.jpeg" alt="" width="300" height="240">
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>18600</li>
                                                        <!--<li class="discount">$60.00</li>-->
                                                    </ul>
                                                </div>                                                                        
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/platinum bracelet men/pbm7.jpeg" alt="" width="300" height="240">
                                               
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#"></a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>                                                                        
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="/img/store/platinum bracelet men/pbm8.jpeg" alt="" width="300" height="240">
                                                
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                    <i class="far fa-star low-star"></i>
                                                </div>
                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        <li>60000</li>
                                            
                                                    </ul>
                                                </div>                                                                        
                                                <ul>
                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/platinum bracelet men/pbm9.jpeg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>19990</li>
                                                                
                                                            </ul>
                                                        </div>                                                                        
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/platinum bracelet men/pbm10.jpeg" alt="" width="300" height="240">
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>18600</li>
                                                                <!--<li class="discount">$60.00</li>-->
                                                            </ul>
                                                        </div>                                                                        
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/platinum bracelet men/pbm11.jpeg" alt="" width="300" height="240">
                                                       
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>                                                                        
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                <div class="single-product mb-60">
                                                    <div class="product-img">
                                                        <img src="/img/store/platinum bracelet men/pbm12.jpeg" alt="" width="300" height="240">
                                                        
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-ratting">
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                            <i class="far fa-star low-star"></i>
                                                        </div>
                                                        <h4><a href="#"></a>Pendant Bracelet</h4>
                                                        <div class="price">
                                                            <ul>
                                                                <li>60000</li>
                                                    
                                                            </ul>
                                                        </div>                                                                        
                                                        <ul>
                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row">
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/platinum bracelet men/pbm13.jpeg" alt="" width="300" height="240">
                                                               
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>19990</li>
                                                                        
                                                                    </ul>
                                                                </div>                                                                        
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/platinum bracelet men/pbm14.jpeg" alt="" width="300" height="240">
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>18600</li>
                                                                        <!--<li class="discount">$60.00</li>-->
                                                                    </ul>
                                                                </div>                                                                        
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/platinum bracelet men/pbm15.jpeg" alt="" width="300" height="240">
                                                                
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#">Pendant Bracelet</a></h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>                                                                        
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-lg-4 col-md-6">
                                                        <div class="single-product mb-60">
                                                            <div class="product-img">
                                                                <img src="/img/store/platinum bracelet men/pbm16.jpeg" alt="" width="300" height="240">
                                                              
                                                            </div>
                                                            <div class="product-caption">
                                                                <div class="product-ratting">
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                    <i class="far fa-star low-star"></i>
                                                                </div>
                                                                <h4><a href="#"></a>Pendant Bracelet</h4>
                                                                <div class="price">
                                                                    <ul>
                                                                        <li>60000</li>
                                                            
                                                                    </ul>
                                                                </div>                                                                        
                                                                <ul>
                                                                    <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <div class="row">
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/platinum bracelet men/pbm17.jpeg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>19990</li>
                                                                                
                                                                            </ul>
                                                                        </div>                                                                        
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/platinum bracelet men/pbm18.jpeg" alt="" width="300" height="240">
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>18600</li>
                                                                                <!--<li class="discount">$60.00</li>-->
                                                                            </ul>
                                                                        </div>                                                                        
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/platinum bracelet men/pbm19.jpeg" alt="" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>                                                                        
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-4 col-md-6">
                                                                <div class="single-product mb-60">
                                                                    <div class="product-img">
                                                                        <img src="/img/store/platinum bracelet men/pbm20.jpeg" width="300" height="240">
                                                                        
                                                                    </div>
                                                                    <div class="product-caption">
                                                                        <div class="product-ratting">
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                            <i class="far fa-star low-star"></i>
                                                                        </div>
                                                                        <h4><a href="#">Pendant Bracelet</a></h4>
                                                                        <div class="price">
                                                                            <ul>
                                                                                <li>60000</li>
                                                                    
                                                                            </ul>
                                                                        </div>                                                                        
                                                                        <ul>
                                                                            <li class="d-none d-lg-block"> <a href="/users/cart" class="btn header-btn">Add to cart</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div></section>
           
        <!-- Latest Products End -->
        <!-- Best Product Start -->
       
        <!-- Best Product End-->
        <!-- Best Collection Start -->
        
        <!-- Best Collection End -->
        <!-- Latest Offers Start -->
       
    </main>
    