
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 fix-card">
                              <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                  <li class="d-none d-xl-block">
                                      <div class="form-box f-right ">
                                         
                                      </div>
                                   </li>
                                  
                                    
                                   <li class="d-none d-lg-block"> <a href="/users/login" class="btn header-btn">Login</a></li>
                                   <li class="d-none d-lg-block"> <a href="/users/logout" class="btn header-btn">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
 
  
     
        <div class="container">
       
            <div class="row align-items-center">
             <div class="col-lg-3 col-md-6"></div>
                <div class="col-lg-8 col-md-6">
                    <div class="separator text-center">
                        <div class="row align-items-center">
                         <div class="col-md-3 form-group p_star"></div>
                                 <div class="col-md-6 form-group p_star">
                                     <img src="/img/icon/user.png" width="70" height="70">
                                    </div>             
                                </div>
                    
                            
                            <div class="login_part_form_iner">
                                        <div class="col-md-12 form-group p_star">
                                        <input type="name" class="form-control" id="name" name="name" value=""
                                            placeholder="NAME">
                                    </div></div>
                             <div class="login_part_form_iner">
                                        <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="email" name="email" value=""
                                            placeholder="EMAIL ID">
                                    </div></div>
                                     <div class="login_part_form_iner">
                                        <div class="col-md-12 form-group p_star">
                                        <input type="phone" class="form-control" id="phone" name="phone" value=""
                                            placeholder="MOBILE NUMBER">
                                    </div></div>
                                     <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
           <thead>
              <tr>
              <h6>Cart Details</h6>
                
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                
              </tr>
            </thead>
            
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/store/Ruby/Ruby gold bangles/IMG-20200522-WA0481.jpg" alt="" />
                    </div>
                   
                  </div>
                </td>
                <td>
                  <h5>$360.00</h5>
                </td>
                
                <td>
                  <h5>recieved</h5>
                </td>
              </tr>
              <tr>
               <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="/img/store/pendant/pen1.jpg" alt="" />
                    </div>
                   
                  </div>
                </td>
                <td>
                  <h5>$360.00</h5>
                </td>
                
                <td>
                  <h5>recieved</h5>
                </td>
              </tr>
              <tr>
                               
                               
                </table></div></div>               
                               
                                </div>
                        </div>
                    </div> </form>
                      
                </div></div></div>  
       
    </main>
   